
*{
    margin: 0px;

}

.page-wrapper{

    width: 100%;
    height: 150vh;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.219);

}
img{
    width: 25%;
    height: 50vh;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover{

    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 1);
}
.contact-form{
    width: 25%;
    background-color: rgba(32, 51, 7, 0.39);
    margin:  2% auto;
    /* margin-top: 15px;
    margin-left: 20%; */
    padding: 50px;
    border-radius: 5px;
}
input{
    border-top: 0px;
    border-left: 0px;
   border-right: 0px;
   margin-left: 15px;
  border-color: rgb(26, 161, 214);

}

.detail{
    color: lightblue;
    text-align: center;
    font-family: italic;


}
.first-table{
    margin-left: 12%;

}
.nav-red{
    background-color: rgb(17, 192, 69);
}

a:link,a:visited{
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    
}
a:hover, a:active {
    background-color:red;
  }
